@import url('https://fonts.googleapis.com/css?family=Lato:700');

body { 
  background-color: rgb(136, 176, 239);
}

.App {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.extract {
  padding-left: 15px;
}

a {
  color: black;
  text-decoration: none;
}

#search {
  width: 83.5%;  
}

#search-btn {
  margin-left: 4px;
  width: 16%;
}

.article {
  padding-left: 5px;
  padding-right: 5px;
}

.results {  
  margin-top: 10px;
  background-color: #f6f186;
  border: 1px solid black;
}

h1 {
  text-align: center;
  font-family: 'Lato';
}

.article:hover {
  border: 1px solid brown;
  background-color: #cfa653;
}